.testimonials {
    width: 50rem;
    margin-inline: auto;
}

.testimonials__head {
    justify-content: center;
}

.card.testimonial {
    position: relative;
    text-align: left;
    margin-top: 5rem;
}

.testimonial__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
    transition: var(--transition);
}

.testimonial:hover .testimonial__avatar {
    border-radius: 50%;
    border-color: var(--color-gray-400);
}

.testimonial__quote {
    font-style: italic;
    margin: 1rem 0 2rem;
}

.card small.testimonial__title {
    margin-top: 0.3rem;
}

.testimonials__btn-container {
    width: fit-content;
    margin: 2.5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testimonials__btn {
    background: transparent;
    cursor: pointer;
}

.testimonials__btn svg {
    fill: var(--color-primary);
    width: 3rem;
    height: 3rem;
}


/* Media Queries ( medium screens ) */
@media screen and (max-width: 1024px) {
    .testimonials {
        width: 75%;
    }
}

/* Media Queries ( small screens ) */
@media screen and (max-width: 600px) {
    .testimonials {
        width: 100%;
    }
}